<ion-modal-view ng-controller="ModalController">
  <ion-header-bar class="bar-dark">
    <h1 class="title">{{'create-task' | translate}}</h1>
    <button class="button button-icon" ng-click="vm.closeTaskModal()">
                    <i class="icon ion-android-close"></i>
                </button>
  </ion-header-bar>
  <ion-content>
    <form name="credentialsForm" ng-submit="createTask(task, vm)">
      <div class="list list-inset">
        <label class="item item-input">
                            <input ng-model="task.title" required ng-minlength="3" type="text" placeholder="{{'task-title' | translate}}">
                        </label>
        <label class="item item-input">
                            <textarea ng-model="task.content" required ng-minlength="3" rows="5" placeholder="{{'task-description' | translate}}"></textarea>
                        </label>
        <ul class="list">
          <li class="item item-toggle">
            {{'task-completed' | translate}}
            <label class="toggle toggle-balanced">
                                    <input type="checkbox" ng-model="task.completed">
                                   <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
          </li>
        </ul>
        <button type="submit" class="button button-block button-positive" ng-disabled="credentialsForm.$invalid">{{'create' | translate}}</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
